In [2]:
import pandas as pd

In [4]:
# Keys in DataFrames are column names
# Values are an array of rows
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print(df)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [12]:
print(df["Age"])

0    22
1    35
2    58
Name: Age, dtype: int64

In [15]:
print(df["Age"][0])
# print(df["Age"][1])
# print(df["Age"][2])

22

In [18]:
print(df.describe())

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [20]:
print(df["Age"].max())

58

In [22]:
print(df.dtypes)

print(df["Sex"][0])

Name    object
Age      int64
Sex     object
dtype: object
male

In [24]:
predicate = df["Age"] > 35

print(df[predicate])

                       Name  Age     Sex
2  Bonnell, Miss. Elizabeth   58  female

In [26]:
predicate = df["Age"].isin([58])

print(df[predicate])

                       Name  Age     Sex
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
# TODO: https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html